body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

.navbar {
  height: 20vh;
}

@media (max-width: 991px) {
  .navbar {
    flex-direction: column;
  }
  .navbar div {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .navbar-toggler {
    width: 10%;
  }
}

.navbar-brand {
  width: 7rem;
  background-color: antiquewhite;
  border-radius: 30%;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 400ms;
}

.navbar-brand:hover {
  transform: scale(1.06);
  transition: 400ms;
}

.nav-item {
  padding-left: 15px;
  font-family: "Josefin Sans", sans-serif;
  transition: 400ms;
}

.nav-item:hover{
  transform: scale(1.1);
  transition: 400ms;
  text-decoration: underline;
}


.linkIniciarSesion {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 400ms;
}
.linkIniciarSesion:hover{
  transform: scale(1.07);
  transition: 400ms;
  text-decoration: underline;
}

main {
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteinerProductos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#containerVideo {
  display: block;
  width: 100%;
  background-color: #472f0789;
  overflow: hidden;
}

#containerVideo article{
  z-index: 5;
  color: rgba(255, 255, 255);
  position: absolute;
  top: 50vh;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

#containerVideo article a{
  background-color: rgba(255, 255, 255, 0.592)
}


.videoIndex {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.title {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin: 20px 0px;
}

.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  margin-top: 45px;
  margin-bottom: 5px;
}

.lead {
  margin-bottom: 55px;
}

.coffee-card {
  background-size: cover;
  background-position: center;
  height: 50vh;
  border-radius: 15px;
  margin-bottom: 35px;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 15px 0px;
  display: flex;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

.card-title {
  font-weight: bold;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin: 15px 0px;
}

.card-text {
  font-size: 25px;
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  margin: 15px;
}

.card-body:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.01);
  transition: 400ms;
}

.card-body a {
  transition: 400ms;
}

.card-body a:hover {
  transform: scale(1.1);
  transition: 400ms;
}

.separator {
  width: 100%;
  height: fit-content;
  background-color: black;
  margin-bottom: 30px;
  color: antiquewhite;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  padding: 10px;
}

.containerProductos {
  display: flex;
  justify-content: center;
}

.cardProducto {
  filter: grayscale(50%);
  transition: 400ms;
}

.cardProducto:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  transition: 400ms;
}

.subtituloProductos {
  text-align: left;
  width: 80%;
  font-size: x-large;
}

.imagenCardProductos {
  width: 25vw;
  height: 25vh;
  object-fit: cover;
}

.contenedorLogin {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.contenedorLogin form {
  display: flex;
  flex-direction: column;
}

.contenedorLogin * {
  margin: 5px 0px;
}

.containerTrabaja{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  text-align: center;

}

.containerTrabaja aside{
  display: flex;
}

.cardTrabaja{
  border: solid 3px black;
  border-radius: 5%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


footer {
  height: 20vh;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: wheat;
}
