{% extends "layout.html" %} {% block main %}

<h1 class="text-center mt-5">Iniciar Sesión</h1>
<div class="container contenedorLogin">
  <form>
    <div class="mb-3">
      <label for="email" class="form-label"
        >Email</label
      >
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Ingrese su Email"
        autocomplete="email"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"
        >Contraseña</label
      >
      <input
        class="form-control"
        id="password"
        type="password"
        placeholder="*********"
      >
    </div>
    <button type="submit" value="Enviar" class="btn btn-light">Ingresar</button>
  </form>
</div>

{% endblock %}
