{% extends "layout.html" %} {% block main %}

<div class="conteiner conteinerProductos">
  <h1 class="title w-100">Conoce todos nuestros productos!</h1>
  <aside class="row container text-center w-100">
    <article class="col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
  </aside>
</div>

{% endblock %}
