{% extends "layout.html" %} {% block main %}

<h1 class="title w-100 my-5">Conoce todos nuestros productos!</h1>
<div class="conteiner conteinerProductos">
  <aside class="row container text-center w-100 mb-3">
    <hr />
    <h3 class="display-5 subtituloProductos">Bebidas</h3>
    <hr />
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
  </aside>
  <aside class="row container text-center w-100 mb-3">
    <hr />
    <h3 class="display-5 subtituloProductos">Pastelerías</h3>
    <hr />
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
  </aside>
  <aside class="row container text-center w-100 mb-3">
    <hr />
    <h3 class="display-5 subtituloProductos">Comidas</h3>
    <hr />
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
    <article class="cardProducto col-md-6 col-lg-4">
      <h4 class="tituloCardProductos">TITULO</h4>
      <img src="/static/img/coffee-table.jpg" class="imagenCardProductos" />
      <p class="precioCardProductos">$25</p>
    </article>
  </aside>
</div>

{% endblock %}
