{% extends "layout.html" %} {% block main %}

<div class="container containerTrabaja">
    <h1>Sumate a nuestro equipo</h1>
    <h2 class="display-5 fs-5">Consulta los perfiles que estamos buscando y sumate al equipo de Aroma</h2>
    <aside class="m-5 row justify-content-evenly ">
        <article class="col-12 col-md-3 cardTrabaja">
            <i class="bi bi-person-raised-hand fs-1"></i>
            <h4 class="fw-bold">Conoce mas acerca de nosotros</h4>
            <p>Nuestra empresa existe jaja</p>
        </article>
        <article class="col-12 col-md-3 cardTrabaja">
            <i class="bi bi-person-raised-hand fs-1"></i>
            <h4 class="fw-bold">Conoce mas acerca de nosotros</h4>
            <p>Nuestra empresa existe jaja</p>
        </article>
        <article class="col-12 col-md-3 cardTrabaja">
            <i class="bi bi-person-raised-hand fs-1"></i>
            <h4 class="fw-bold">Conoce mas acerca de nosotros</h4>
            <p>Nuestra empresa existe jaja</p>
        </article>
    </aside>
</div>

{% endblock %}
